[AIL]
feeder_uuid = aae656ec-d446-4a21-acf0-c88d4e09d506
ail_feeder = True

url = https://127.0.0.1:7000
apikey = <YOURAPIKEY>
verifycert = False

#url2 = https://127.0.0.1:7020
#apikey2 = <YOURAPIKEY2>
#verifycert2 = False

[TELEGRAM]
api_id = <api_id>
api_hash = <api_hash>
session_name = session_file
extract_mentions = False
# size in bytes
max_size_pdf = 20000000

[EXECUTABLES]
qpdf_cmd = qpdf
ghostscript_cmd = gs

